/*Name:Mohamed Ahmed
File: Assignment3c.html
Date: 18 October 2023
 Lab 3 css creating a website/ Web Development - Fundamentals
*/
html {
  font-family: sans-serif;
  
}

/* Your CSS below here */

p {
  margin: 100px auto;
  width: 200px;
  text-align: center;
  border-radius: 5px;
  background: linear-gradient(130deg, rgba(0,0,0,0.1) 30%, rgba(0,0,0,0.3)), red;
  border: 1px solid Maroon;
  box-shadow: 4px 4px 7px black, inset -3px -3px 7px black, inset 3px 3px 7px white;
  font-family: sans-serif;
  font-size: 1.125rem;
  padding: 80px 0;
  color: white;
  text-shadow: 2px 2px 3px black;
}
