/*Name:Mohamed Ahmed
File: Assignment3c.html
Date: 18 October 2023
 Lab 3 css creating a website/ Web Development - Fundamentals
*/
/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
  
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 100%;
  padding-left: 2em;
  line-height: 5;
  flex: 100%;
  display: flex;

}

nav ul {
  padding: 2;
  list-style-type: square;
  flex: 2;
  display: flex;
  vertical-align: left;
}

nav li {
  display: inline;
  text-align: vertical;
  flex: 1;
}

nav a, nav span {
  display: list-item;
  font-size: 2rem;
  height: 2rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: black;

}
footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

header{
  text-align: center;
  font-family: sans-serif,;
}



a[href^="http"] {
  background: url("Images/external-link-52.png") no-repeat 100% 0;
  background-size: 16px 16px;
  padding-right: 19px;
  color:#a66;
}




a{
  color: #a66;
}

a:link,
a:visited,
a:focus {
  color:#a66;
}

a:hover {
  background: burlywood;
}

a:active {
  background: darkred;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}